/*
 * CSS that will be loaded inside the WordPress editor
 */

 .wp-block-gutenberg-starter-repeater {

	&__inner {
		
	}

	.editor-inner-blocks .editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: flex-start;

		.block-list-appender {
			flex: 1 1 100%;
		}
	}


	.wp-block {
		flex: 0 1 49%;
		margin: 0;
		align-self: stretch;
	}

	.wp-block + .wp-block {
		margin-left: 2%;
	}

	&[data-columns="2"] {

		.wp-block:nth-child(2n+1) {
			margin-left: 0;
		}

	}

	&[data-columns="3"] {

		.wp-block {
			flex: 0 1 32%;			
		}

		.wp-block:nth-child(3n+1) {
			margin-left: 0;
		}

	}

	&[data-columns="4"] {

		.wp-block {
			flex: 0 1 23.5%;
		}

		.wp-block:nth-child(4n+1) {
			margin-left: 0;
		}

	}

}
